body {
    font-family: 'Montserrat', sans-serif;
    /* Default margin of body is 8px */
    margin: 0;

    /* To make this default behaviour of all elementswe use this property in body tag */
    box-sizing: border-box;
}


/* 
If two adjesant elements have margin then the magin collapses. The bigger margin wins
*/


/* 
Short-hand properties for margin and padding order is:
margin: top right bottom left
or if only two
margin: top-bottom right-left

background is shorthand of lot of properties, background-color is one of them.
*/

#product-overview {
    background: #ff1b68;
    /* This padding will be applied to outside of margin of h1 tag,
     as h1 is child os #product-overview */
    /* padding: 20px;
    border: 5px solid black;
    margin: 20px; */
    width:100%;
    /* Here element will not occupy height of fullpage but height of its parent element */
    height: 528px;
    /* margin: 5px; */
    padding: 5px;
    border: 5px solid black;
    /* above, toatal height of product-overview will be 400 + (5*2)*3 = 430
        extra of magin padding and border */
    /* Above is default behaviour of css */
    /* along with width and height, margin, padding and border value will be added to element */
    /* To make sure to have overall height equal to 400, we use: */
    /* When we use box-sizing, padding and border will included in overall height of element, which s 400 */
    /* To make this default behaviour of all elementswe use this property in body tag */
    box-sizing: border-box;
}

.section-title {
    color: #2ddf5c;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
    margin:0;
}

/* h1 {
    font-family: sans-serif;
} */