html {
  background: #b3b3b3;
  padding: 15px;
  border: 5px solid white;
  margin: 15px;
  height: 2000px;
}

body {
  background: #fa923f;
  padding: 20px;
  border: 5px solid black;
  margin: 0;
}

.parent {
  background: white;
  padding: 20px;
  border: 5px solid black;
  margin: 0;
  /* overflow: scroll; */
}

.parent div {
  background: rgb(105, 105, 109);
  color: white;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
}

/* .child-1 { */
/* When we apply fixed position property to element, elements will become non-exsting to other elements */
/* position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0 !important;
  box-sizing: border-box;
  z-index: -100;
} */

.child-1 {
  position: relative;
  left: 400px;
  top: 700px;
}
